/* Stylesheet for "lite" color palette themes */
/* Lite Theme */
.lite-elegant-color-lite {
    background-color: #6E6E6E !important
}

.lite-elegant-color {
    background-color: #4E4E4E !important
}

.lite-elegant-color-dark {
    background-color: #414141 !important
}

.lite-stylish-color-lite {
    background-color: #8B919D !important
}

.lite-stylish-color {
    background-color: #6B717D !important
}

.lite-stylish-color-dark {
    background-color: #5E6571 !important
}

.lite-unique-color-lite {
    background-color: #7FB2DB !important
}

.lite-unique-color {
    background-color: #5F92BB !important
}

.lite-unique-color-dark {
    background-color: #3C4351 !important
}

.lite-special-color-lite {
    background-color: #77878F !important
}

.lite-special-color {
    background-color: #57676F !important
}

.lite-special-color-dark {
    background-color: #465258 !important
}
/* Lite Theme R */
.lite-elegant-color-lite-R {
    background-color: #8E6E6E !important
}

.lite-elegant-color-R {
    background-color: #6E4E4E !important
}

.lite-elegant-color-dark-R {
    background-color: #614141 !important
}

.lite-stylish-color-lite-R {
    background-color: #AB919D !important
}

.lite-stylish-color-R {
    background-color: #8B717D !important
}

.lite-stylish-color-dark-R {
    background-color: #7E6571 !important
}

.lite-unique-color-lite-R {
    background-color: #9FB2DB !important
}

.lite-unique-color-R {
    background-color: #7F92BB !important
}

.lite-unique-color-dark-R {
    background-color: #5C4351 !important
}

.lite-special-color-lite-R {
    background-color: #97878F !important
}

.lite-special-color-R {
    background-color: #77676F !important
}

.lite-special-color-dark-R {
    background-color: #665258 !important
}
/* Lite Theme G */
.lite-elegant-color-lite-G {
    background-color: #6E8E6E !important
}

.lite-elegant-color-G {
    background-color: #4E6E4E !important
}

.lite-elegant-color-dark-G {
    background-color: #416141 !important
}

.lite-stylish-color-lite-G {
    background-color: #8BB19D !important
}

.lite-stylish-color-G {
    background-color: #6B917D !important
}

.lite-stylish-color-dark-G {
    background-color: #5E8571 !important
}

.lite-unique-color-lite-G {
    background-color: #7FD2DB !important
}

.lite-unique-color-G {
    background-color: #5FB2BB !important
}

.lite-unique-color-dark-G {
    background-color: #3C6351 !important
}

.lite-special-color-lite-G {
    background-color: #77A78F !important
}

.lite-special-color-G {
    background-color: #57876F !important
}

.lite-special-color-dark-G {
    background-color: #467258 !important
}
/* Lite Theme B */
.lite-elegant-color-lite-B {
    background-color: #6E6E8E !important
}

.lite-elegant-color-B {
    background-color: #4E4E6E !important
}

.lite-elegant-color-dark-B {
    background-color: #414161 !important
}

.lite-stylish-color-lite-B {
    background-color: #8B91BD !important
}

.lite-stylish-color-B {
    background-color: #6B719D !important
}

.lite-stylish-color-dark-B {
    background-color: #5E6591 !important
}

.lite-unique-color-lite-B {
    background-color: #7FB2FB !important
}

.lite-unique-color-B {
    background-color: #5F92DB !important
}

.lite-unique-color-dark-B {
    background-color: #3C4371 !important
}

.lite-special-color-lite-B {
    background-color: #7787AF !important
}

.lite-special-color-B {
    background-color: #57678F !important
}

.lite-special-color-dark-B {
    background-color: #465278 !important
}
/* Black and White */
.white-background {
    background-color: #FFFFFF !important
}

.black-background {
    background-color: #000000 !important
}
